# Pima Data cleaning

In [125]:
# Import Modules Here
import scipy
import pandas as pd
import numpy as np

## Part 1: Read the Data into Jupyter

In [126]:
# Read the data into a dataframe named pima_df.
# YOUR CODE HERE
pima_df = pd.read_csv('diabetes_uncleaned_data.csv')
display(pima_df.head())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
3,11.0,132.0,83,11,376,4.1,2.772,NaN,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE

## Part 2: Missing Data

In [127]:
#Question 1:  Find Columns with missing data
# YOUR CODE HERE
broken_pima_df = pima_df.count()
broken_pima_df

Pregnancies                  890
Glucose                      988
BloodPressure                982
SkinThickness               1004
Insulin                     1004
BMI                         1003
DiabetesPedigreeFunction    1004
Age                          982
Outcome                     1004
dtype: int64

In [128]:
# Question 2:  Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df
# YOUR CODE HERE

display(pima_df.count())
pima_missing_fixed_df = pima_df.dropna(how="any")
pima_missing_fixed_df.count()

Pregnancies                  890
Glucose                      988
BloodPressure                982
SkinThickness               1004
Insulin                     1004
BMI                         1003
DiabetesPedigreeFunction    1004
Age                          982
Outcome                     1004
dtype: int64

Pregnancies                 840
Glucose                     840
BloodPressure               840
SkinThickness               840
Insulin                     840
BMI                         840
DiabetesPedigreeFunction    840
Age                         840
Outcome                     840
dtype: int64

In [129]:
# Question 3:  Print out the number of rows in the dataframe.
# YOUR CODE HERE
len(pima_missing_fixed_df.index)

840

### Question 4:  Discuss why this could be a problem.  What other methods could you use in this situation? 

Your Discussion here

## Part 3: Duplicated Data

In [130]:
# Question 1: find the rows of duplicated data in the 
# pima_missing_fixed_df and print them.  

# pima_missing_fixed_df[pima_missing_fixed_df.duplicated(keep = False)]
display(pima_missing_fixed_df[pima_missing_fixed_df.duplicated(keep = False)])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
6,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE
876,6.0,39.0,46,2,287,40.4,2.394,60.0,TRUE
894,10.0,67.0,39,12,168,53.4,0.162,71.0,FALSE
925,6.0,39.0,46,2,287,40.4,2.394,60.0,TRUE
926,10.0,67.0,39,12,168,53.4,0.162,71.0,FALSE
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [131]:
# Question 2: Write code to remove rows with missing data 
# and save the new dataframe as pima_missing_fixed_df
pima_dedupped_df = pima_missing_fixed_df.drop_duplicates(keep="first")
display(pima_dedupped_df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
996,6.0,117.0,91,28,212,1.0,1.969,137.0,FALSE
997,13.0,163.0,10,37,457,8.0,2.400,125.0,TRUE
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE

In [132]:
# Question 3:  Print out the number of rows in the dataframe.
len(pima_dedupped_df.index)

836

## Part 4: Mis-typed Columns/Broken Data

In [133]:
# Question 1: find the columns where most of the data seems to be one type of data, and there seems to be a data error. In the markdown, after exploring in code, add a markdown cell discussing which columns have the data error. 
pima_dedupped_df['Pregnancies'].value_counts()

Pregnancies
 8.0      73
 7.0      73
 3.0      64
 13.0     63
 10.0     61
 6.0      61
 11.0     61
 12.0     61
 0.0      58
 4.0      58
 9.0      57
 1.0      52
 2.0      48
 5.0      45
-100.0     1
Name: count, dtype: int64

In [134]:
pima_dedupped_df['Glucose'].value_counts()

Glucose
180.0    11
142.0    10
39.0      9
156.0     9
131.0     8
         ..
175.0     1
113.0     1
100.0     1
53.0      1
61.0      1
Name: count, Length: 196, dtype: int64

In [135]:
pima_dedupped_df['BloodPressure'].value_counts()

BloodPressure
26       15
82       15
27       15
96       15
81       13
         ..
107       4
13        3
10000     2
Error     2
19        1
Name: count, Length: 113, dtype: int64

In [136]:
pima_dedupped_df['SkinThickness'].value_counts()

SkinThickness
25    25
50    24
10    23
34    23
35    22
40    22
33    21
42    21
15    21
18    21
6     21
36    20
48    20
7     19
26    19
38    19
3     18
17    18
37    18
24    18
14    17
11    17
20    17
28    17
39    17
45    16
12    16
47    16
27    16
9     16
0     16
30    15
44    15
19    14
23    14
4     14
43    14
13    14
21    14
32    13
8     13
46    12
22    12
2     12
16    11
31    10
1     10
29     9
41     9
5      9
49     8
Name: count, dtype: int64

In [137]:
pima_dedupped_df['Insulin'].value_counts()

Insulin
310    5
624    4
215    4
777    4
816    4
      ..
311    1
382    1
54     1
476    1
590    1
Name: count, Length: 539, dtype: int64

In [138]:
pima_dedupped_df['BMI'].value_counts()

BMI
7.0     6
17.4    6
59.6    6
15.1    6
34.4    5
       ..
33.7    1
38.2    1
1.7     1
3.6     1
4.8     1
Name: count, Length: 451, dtype: int64

In [139]:
pima_dedupped_df['DiabetesPedigreeFunction'].value_counts()

DiabetesPedigreeFunction
1.826    4
2.537    4
0.489    3
1.956    3
1.197    3
        ..
0.466    1
0.038    1
0.607    1
2.047    1
2.411    1
Name: count, Length: 716, dtype: int64

In [140]:
pima_dedupped_df['Outcome'].value_counts()

Outcome
FALSE    441
TRUE     394
ERROR      1
Name: count, dtype: int64

In [141]:
# Question 2: Remove the rows with data errors

rows_with_error = pima_dedupped_df.applymap(lambda x: 'error' in str(x).lower()).any(axis=1)
pima_df_without_error = pima_dedupped_df[~rows_with_error]
display(pima_df_without_error)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
995,5.0,62.0,10000,13,412,48.7,0.267,101.0,FALSE
996,6.0,117.0,91,28,212,1.0,1.969,137.0,FALSE
997,13.0,163.0,10,37,457,8.0,2.400,125.0,TRUE
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE

In [142]:
# Question 3: After the data is fixed in your columns change the columns to the correct type and save this as the pima_fixed_columns_df.
pima_fixed_columns_df = pima_df_without_error.copy()
pima_fixed_columns_df['BloodPressure'] = pima_fixed_columns_df['BloodPressure'].astype('int')
pima_fixed_columns_df['BMI'] = pima_fixed_columns_df['BMI'].astype('float')
pima_fixed_columns_df['Outcome'] = pima_fixed_columns_df['Outcome'].astype('bool')

In [143]:
# Question 4: Run pima_fixed_columns_df.info() to confirm the columns have changed.
pima_fixed_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    int64
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    float64
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    bool
dtypes: bool(1), float64(5), int64(3)
memory usage: 59.3 KB

## Part 5: Outlier Detection and Removal

In [144]:
# Question 1: Print out the Outliers in each column in the pima_fixed_columns_df dataframe, use the IQR method of outlier detection.
def is_iqr_outlier(column):
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    IQR = q3-q1
    lower_bound = q1 - (1.5 * IQR)
    upper_bound = q3 + (1.5 * IQR)
    return ~column.between(lower_bound, upper_bound)

In [146]:
display(pima_fixed_columns_df[is_iqr_outlier(pima_fixed_columns_df['Pregnancies'])])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,True

In [147]:
display(pima_fixed_columns_df[is_iqr_outlier(pima_fixed_columns_df['Glucose'])])

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [148]:
display(pima_fixed_columns_df[is_iqr_outlier(pima_fixed_columns_df['BloodPressure'])])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
649,3.0,155.0,10000,35,748,32.6,0.098,85.0,True
995,5.0,62.0,10000,13,412,48.7,0.267,101.0,True

In [149]:
display(pima_fixed_columns_df[is_iqr_outlier(pima_fixed_columns_df['SkinThickness'])])

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [150]:
display(pima_fixed_columns_df[is_iqr_outlier(pima_fixed_columns_df['Insulin'])])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,True

In [151]:
display(pima_fixed_columns_df[is_iqr_outlier(pima_fixed_columns_df['BMI'])])

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [152]:
display(pima_fixed_columns_df[is_iqr_outlier(pima_fixed_columns_df['DiabetesPedigreeFunction'])])

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [153]:
display(pima_fixed_columns_df[is_iqr_outlier(pima_fixed_columns_df['Age'])])

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [168]:
# Question 2: Use loc to remove outliers in each of the columns that have outliers, save this as pima_outlier_removed_df.
index = pima_fixed_columns_df.loc[[1,5,649,995]].index
pima_outlier_removed_df = pima_fixed_columns_df.drop(index)
display(pima_outlier_removed_df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,True
2,8.0,59.0,109,18,739,59.1,1.769,91.0,True
4,10.0,165.0,48,37,737,39.4,0.729,73.0,True
6,6.0,151.0,60,26,362,43.4,2.027,23.0,True
7,0.0,179.0,0,19,238,47.7,2.656,77.0,True
...,...,...,...,...,...,...,...,...,...
994,0.0,117.0,87,6,841,0.3,1.576,80.0,True
996,6.0,117.0,91,28,212,1.0,1.969,137.0,True
997,13.0,163.0,10,37,457,8.0,2.400,125.0,True
998,6.0,110.0,26,27,590,20.8,1.185,95.0,True
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,True

In [169]:
# Question 3:  Print out the row count in the pima_outlier_removed_df and confirm this number is correct.
display(pima_outlier_removed_df.count())

Pregnancies                 828
Glucose                     828
BloodPressure               828
SkinThickness               828
Insulin                     828
BMI                         828
DiabetesPedigreeFunction    828
Age                         828
Outcome                     828
dtype: int64