In [1]:
# import modules
import pandas as pd

In [2]:
broken_housing_df = pd.read_csv('./data/broken_ames_housing_data.csv')
broken_housing_df.head(20)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,11991472.0,14139.0,3.0,1.0,4.0,FALSE,TRUE,FALSE,FALSE,False,1,True,unfurnished
1,11991472.0,14139.0,3.0,1.0,4.0,FALSE,TRUE,FALSE,FALSE,False,1,True,unfurnished
2,8632694.0,4182.0,3.0,3.0,1.0,TRUE,FALSE,FALSE,TRUE,True,3,False,unfurnished
3,8481911.0,10645.0,4.0,4.0,NaN,FALSE,TRUE,TRUE,FALSE,False,0,False,semi-furnished
4,13556045.0,6415.0,4.0,2.0,1.0,FALSE,TRUE,FALSE,TRUE,False,0,True,furnished
5,9925983.0,9504.0,3.0,2.0,2.0,FALSE,TRUE,FALSE,FALSE,True,1,False,furnished
6,9101598.0,5752.0,3.0,1.0,1.0,FALSE,FALSE,TRUE,FALSE,True,1,True,semi-furnished
7,9979630.0,7420.0,3.0,3.0,1.0,FALSE,FALSE,TRUE,TRUE,False,0,True,furnished
8,9979630.0,7420.0,3.0,3.0,1.0,FALSE,FALSE,TRUE,TRUE,False,0,True,furnished
9,10179634.0,7400.0,4.0,1.0,1.0,TRUE,FALSE,FALSE,TRUE,False,0,True,furnished
10,10161840.0,8918.0,4.0,2.0,4.0,FALSE,TRUE,TRUE,FALSE,True,0,False,unfurnished
11,12045879.0,15243.0,4.0,4.0,1.0,FALSE,TRUE,FALSE,FALSE,True,3,False,unfurnished
12,-112.0,8687.0,3.0,4.0,1.0,TRUE,TRUE,FALSE,TRUE,True,3,False,semi-furnished
13,11420591.0,12697.0,3.0,3.0,3.0,TRUE,TRUE,TRUE,TRUE,True,1,False,unfurnished
14,12047335.0,5109.0,3.0,3.0,3.0,FALSE,FALSE,FALSE,TRUE,True,2,False,unfurnished
15,8277674.0,13807.0,3.0,2.0,4.0,FALSE,FALSE,TRUE,TRUE,True,3,False,furnished
16,8666997.0,9556.0,3.0,1.0,4.0,TRUE,FALSE,TRUE,FALSE,False,3,True,unfurnished
17,12352573.0,6792.0,5.0,4.0,4.0,TRUE,FALSE,FALSE,TRUE,False,0,False,furnished
18,10357357.0,5033.0,4.0,3.0,3.0,FALSE,TRUE,TRUE,FALSE,False,0,False,unfurnished
19,12284409.0,5175.0,4.0,1.0,2.0,FALSE,TRUE,TRUE,TRUE,True,3,False,unfurnished

In [3]:
broken_housing_df.count()
## Do we have missing data and where?

price                991
area                 988
bedrooms             990
bathrooms            985
stories              983
mainroad            1003
guestroom           1003
basement             956
hotwaterheating     1003
airconditioning     1003
parking             1003
prefarea            1003
furnishingstatus    1003
dtype: int64

In [4]:
broken_housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             991 non-null    float64
 1   area              988 non-null    float64
 2   bedrooms          990 non-null    float64
 3   bathrooms         985 non-null    float64
 4   stories           983 non-null    float64
 5   mainroad          1003 non-null   object
 6   guestroom         1003 non-null   object
 7   basement          956 non-null    object
 8   hotwaterheating   1003 non-null   object
 9   airconditioning   1003 non-null   bool
 10  parking           1003 non-null   int64
 11  prefarea          1003 non-null   bool
 12  furnishingstatus  1003 non-null   object
dtypes: bool(2), float64(5), int64(1), object(5)
memory usage: 88.3+ KB

In [5]:
display(broken_housing_df['bedrooms'].value_counts())

bedrooms
3.0    340
4.0    331
5.0    319
Name: count, dtype: int64

In [6]:
display(broken_housing_df['bathrooms'].value_counts())

bathrooms
2.0      262
4.0      247
1.0      246
3.0      229
124.0      1
Name: count, dtype: int64

In [7]:
display(broken_housing_df['stories'].value_counts())

stories
1.0    266
2.0    259
3.0    234
4.0    224
Name: count, dtype: int64

In [8]:
display(broken_housing_df['mainroad'].value_counts())

mainroad
TRUE     519
FALSE    483
ERROR      1
Name: count, dtype: int64

In [9]:
display(broken_housing_df['basement'].value_counts())

basement
TRUE     479
FALSE    475
ERROR      2
Name: count, dtype: int64

In [10]:
display(broken_housing_df['airconditioning'].value_counts())

airconditioning
False    515
True     488
Name: count, dtype: int64

In [11]:
display(broken_housing_df['hotwaterheating'].value_counts())

hotwaterheating
FALSE    510
TRUE     492
ERROR      1
Name: count, dtype: int64

In [12]:
display(broken_housing_df['furnishingstatus'].value_counts())

furnishingstatus
semi-furnished    341
furnished         341
unfurnished       320
ERROR               1
Name: count, dtype: int64

In [13]:
display(broken_housing_df['mainroad'].value_counts())

mainroad
TRUE     519
FALSE    483
ERROR      1
Name: count, dtype: int64

In [14]:
display(broken_housing_df['guestroom'].value_counts())

guestroom
TRUE     510
FALSE    492
ERROR      1
Name: count, dtype: int64

In [15]:
broken_housing_df[broken_housing_df['guestroom'] == "ERROR"]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
988,9994840.0,15809.0,3.0,4.0,4.0,ERROR,ERROR,ERROR,ERROR,False,2,False,semi-furnished

In [16]:
broken_housing_df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,11991472.0,14139.0,3.0,1.0,4.0,FALSE,TRUE,FALSE,FALSE,False,1,True,unfurnished
1,11991472.0,14139.0,3.0,1.0,4.0,FALSE,TRUE,FALSE,FALSE,False,1,True,unfurnished
2,8632694.0,4182.0,3.0,3.0,1.0,TRUE,FALSE,FALSE,TRUE,True,3,False,unfurnished
3,8481911.0,10645.0,4.0,4.0,NaN,FALSE,TRUE,TRUE,FALSE,False,0,False,semi-furnished
4,13556045.0,6415.0,4.0,2.0,1.0,FALSE,TRUE,FALSE,TRUE,False,0,True,furnished

In [17]:
display(broken_housing_df.isna().sum())

price               12
area                15
bedrooms            13
bathrooms           18
stories             20
mainroad             0
guestroom            0
basement            47
hotwaterheating      0
airconditioning      0
parking              0
prefarea             0
furnishingstatus     0
dtype: int64

In [18]:
broken_housing_df[uni()]

NameError: name 'uni' is not defined

In [19]:
# drop missing
display(broken_housing_df.count())
no_missing_df = broken_housing_df.dropna(how='any')
no_missing_df.count()

price                991
area                 988
bedrooms             990
bathrooms            985
stories              983
mainroad            1003
guestroom           1003
basement             956
hotwaterheating     1003
airconditioning     1003
parking             1003
prefarea            1003
furnishingstatus    1003
dtype: int64

price               883
area                883
bedrooms            883
bathrooms           883
stories             883
mainroad            883
guestroom           883
basement            883
hotwaterheating     883
airconditioning     883
parking             883
prefarea            883
furnishingstatus    883
dtype: int64

In [20]:
no_missing_df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,11991472.0,14139.0,3.0,1.0,4.0,FALSE,TRUE,FALSE,FALSE,False,1,True,unfurnished
1,11991472.0,14139.0,3.0,1.0,4.0,FALSE,TRUE,FALSE,FALSE,False,1,True,unfurnished
2,8632694.0,4182.0,3.0,3.0,1.0,TRUE,FALSE,FALSE,TRUE,True,3,False,unfurnished
4,13556045.0,6415.0,4.0,2.0,1.0,FALSE,TRUE,FALSE,TRUE,False,0,True,furnished
5,9925983.0,9504.0,3.0,2.0,2.0,FALSE,TRUE,FALSE,FALSE,True,1,False,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,12075398.0,14506.0,5.0,3.0,2.0,TRUE,TRUE,TRUE,FALSE,True,1,False,semi-furnished
999,12956391.0,8477.0,4.0,1.0,4.0,FALSE,TRUE,TRUE,FALSE,True,1,False,furnished
1000,8955419.0,15133.0,4.0,1.0,4.0,TRUE,FALSE,FALSE,FALSE,True,1,True,semi-furnished
1001,13008312.0,9323.0,4.0,1.0,4.0,TRUE,FALSE,TRUE,FALSE,True,1,False,furnished
1002,11570228.0,4124.0,4.0,2.0,3.0,TRUE,FALSE,FALSE,TRUE,True,0,True,furnished

In [21]:
display(broken_housing_df['price'].isna().count())
price_only_df = broken_housing_df.dropna(subset=['price'])

1003

In [22]:
price_only_df.count()

price               991
area                976
bedrooms            979
bathrooms           973
stories             971
mainroad            991
guestroom           991
basement            944
hotwaterheating     991
airconditioning     991
parking             991
prefarea            991
furnishingstatus    991
dtype: int64

In [23]:
# cleaned no missing data

In [24]:
print(no_missing_df.count())

price               883
area                883
bedrooms            883
bathrooms           883
stories             883
mainroad            883
guestroom           883
basement            883
hotwaterheating     883
airconditioning     883
parking             883
prefarea            883
furnishingstatus    883
dtype: int64

In [25]:
unique_df = no_missing_df.drop_duplicates(keep='last')

In [26]:
unique_df.count()

price               880
area                880
bedrooms            880
bathrooms           880
stories             880
mainroad            880
guestroom           880
basement            880
hotwaterheating     880
airconditioning     880
parking             880
prefarea            880
furnishingstatus    880
dtype: int64

In [27]:
unique_df =  no_missing_df.drop_duplicates(subset=['price','area','bedrooms','bathrooms'], keep='first')
print(unique_df.count())

price               880
area                880
bedrooms            880
bathrooms           880
stories             880
mainroad            880
guestroom           880
basement            880
hotwaterheating     880
airconditioning     880
parking             880
prefarea            880
furnishingstatus    880
dtype: int64

In [28]:
### outlier detection

In [29]:
pd.options.display.float_format = '{:.2f}'.format

In [30]:
unique_df.describe()

            price       area  bedrooms  bathrooms  stories  parking
count      880.00     880.00    880.00     880.00   880.00   880.00
mean  11068169.31    8898.32      3.97       2.63     2.43     1.44
std    1736744.98   34204.13      0.82       4.25     1.11     1.22
min       -112.00 -998877.00      3.00       1.00     1.00   -12.00
25%    9743989.25    6855.25      3.00       2.00     1.00     0.00
50%   11070783.00   10214.50      4.00       2.00     2.00     1.00
75%   12431136.00   13103.75      5.00       4.00     3.00     2.00
max   13999077.00   16196.00      5.00     124.00     4.00     3.00

In [31]:
def is_iqr_outlier(column):
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    IQR = q3-q1
    lower_bound = q1 - (1.5 * IQR)
    upper_bound = q3 + (1.5 * IQR)
    return ~column.between(lower_bound, upper_bound)

In [32]:
display(is_iqr_outlier(unique_df['bathrooms']))

display(unique_df[is_iqr_outlier(unique_df['bathrooms'])])

0       False
2       False
4       False
5       False
6       False
        ...
997     False
998     False
999     False
1000    False
1001    False
Name: bathrooms, Length: 880, dtype: bool

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
128,11000337.00,7426.00,3.00,124.00,1.00,FALSE,TRUE,TRUE,TRUE,False,2,False,furnished

In [33]:
display(unique_df[is_iqr_outlier(unique_df['price'])])

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
12,-112.00,8687.00,3.00,4.00,1.00,TRUE,TRUE,FALSE,TRUE,True,3,False,semi-furnished

In [34]:
display(unique_df[is_iqr_outlier(unique_df['area'])])

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
32,12904621.00,-998877.00,4.00,2.00,3.00,FALSE,TRUE,TRUE,TRUE,True,0,False,furnished

In [35]:
display(unique_df[is_iqr_outlier(unique_df['parking'])])

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
68,12776376.00,14647.00,4.00,4.00,4.00,TRUE,FALSE,TRUE,TRUE,True,-12,True,semi-furnished

In [36]:
### outlier

In [37]:
print(unique_df.count())

price               880
area                880
bedrooms            880
bathrooms           880
stories             880
mainroad            880
guestroom           880
basement            880
hotwaterheating     880
airconditioning     880
parking             880
prefarea            880
furnishingstatus    880
dtype: int64

In [38]:
no_outlier_1_df = unique_df[is_iqr_outlier(unique_df['price']) == False]

In [39]:
print(no_outlier_1_df.count())

price               879
area                879
bedrooms            879
bathrooms           879
stories             879
mainroad            879
guestroom           879
basement            879
hotwaterheating     879
airconditioning     879
parking             879
prefarea            879
furnishingstatus    879
dtype: int64

In [41]:
no_outlier_2_df = no_outlier_1_df[is_iqr_outlier(no_outlier_1_df['area']) == False]

In [42]:
no_outlier_2_df.count()

price               878
area                878
bedrooms            878
bathrooms           878
stories             878
mainroad            878
guestroom           878
basement            878
hotwaterheating     878
airconditioning     878
parking             878
prefarea            878
furnishingstatus    878
dtype: int64

In [43]:
# wrong column

In [44]:
no_outlier_2_df['mainroad'].value_counts()

mainroad
TRUE     456
FALSE    421
ERROR      1
Name: count, dtype: int64

In [45]:
no_outlier_2_df[no_outlier_2_df['mainroad']=='ERROR']

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
988,9994840.00,15809.00,3.00,4.00,4.00,ERROR,ERROR,ERROR,ERROR,False,2,False,semi-furnished

In [46]:
no_outlier_2_df = no_outlier_2_df[no_outlier_2_df['mainroad'] != 'ERROR']
no_outlier_2_df.count()

price               877
area                877
bedrooms            877
bathrooms           877
stories             877
mainroad            877
guestroom           877
basement            877
hotwaterheating     877
airconditioning     877
parking             877
prefarea            877
furnishingstatus    877
dtype: int64

In [52]:
mainroad_col_fixed_df = unique_df.copy()

mainroad_col_fixed_df['mainroad'] = mainroad_col_fixed_df['mainroad'].astype('bool')
mainroad_col_fixed_df.dtypes

price               float64
area                float64
bedrooms            float64
bathrooms           float64
stories             float64
mainroad               bool
guestroom            object
basement             object
hotwaterheating      object
airconditioning        bool
parking               int64
prefarea               bool
furnishingstatus     object
dtype: object

In [ ]:
mainroad_col_fixed_d